*{
    box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 3rem 0;
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
  width: 100%;
  max-width: 500px;
  margin: 0;
  color: #a19faa;
  font-weight: 400;
  text-align: center;
}

.container span{
    display: block;
    font-weight: 600;
    color: #4D4F65;
}


.container .para{
    color: black;
    font-weight: 500;
    color: #4D4F65;
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin-bottom: 25px;
    text-align: center;
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}

.grid-container .grid-wrapper{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 15px 20px  50px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(80, 110, 160, 0.3);

    position: relative;
}

.grid-wrapper h2{
    font-weight: 550;
    font-size: 15px;
    color: #4D4F65;
    margin-bottom: 5px;
}

.grid-wrapper  .grid-text{
    font-size: 14px;
    color: #A19FAA;
    margin-top: 0;
}

.grid-container .supervisor{
    grid-column: 1;
    grid-row: 1/3;


   border-top: 4px solid #47D2CE;
}


.grid-container .team-builder{
    grid-column: 2;
    grid-row: 1;

    border-top: 4px solid #ED5355;
}


.grid-container .karma{
    grid-column: 2;
    grid-row: 2/2;

    border-top: 4px solid #FCAF4F;
}


.grid-container .calculator{
    grid-column: 3;
    grid-row: 1/3;
    border-top: 4px solid #569EEF;
}

.grid-wrapper img{
    position: absolute;
    bottom: 10px;
    right: 13px;
    width: 45px;
    display: block;
    margin: 40px 0 0;
}


@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-container .grid-wrapper {
    grid-column: auto;
    grid-row: auto;
  }
}

